body {
    background-color: #444444;
    margin: 10px;
    color: white;
}

tr {
    color: white;
}

.link:hover {
    color: black;
    text-decoration: underline;
}

#add_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addform {
    display: flex;
    justify-content: center;
}

.txt {
    text-align: center;
    border-style: solid;
    border-color: #007bff;
    border-width: medium;
    padding: 5px;
    margin: 20px;
    height: 100px;
    width: 400px;
}

select {
    border-style: solid;
    border-color: #007bff;
    border-width: medium;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: thick;
}

.header-right {
    display: flex;
    justify-content: space-evenly;
}

.h-link {
    margin-right: 7px;
}

.addbtn {
    margin: 10px;
}

.edtlogbtn {
    margin-right: 10px;
}

.dropdown {
    display: none;
}

.dropdown-menu {
    text-align: center;
}

.login {
    text-align: center;
    margin-top: 100px;
}

.logipt {
    margin-top:10px;
    margin-bottom:10px;
    padding: 5px;
}

.signipt {
    margin-top:10px;
    padding: 5px;
}

.view-log {
    margin-top: 100px;
    text-align: center;
}

.log-info {
    margin-bottom: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px) {
    .dropdown {
        display: block;
    }

    .header-right {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    td {
        font-size: 13px;
    }

     .ilink{
        color: white;
    }

    .h-link{
        color: #444444;
    }

    .txt {
        height: 140px;
        width: 300px;
    }

    select {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 426px) {
    .dropdown {
        display: none;
    }

    .header-right {
        display: block;
    }

    td {
        font-size: 15px;
    }

    .link {
        color: white;
    }

    .txt {
        height: 100px;
        width: 400px;
    }

}

@media (min-width: 1440px) {
    td {
        font-size: 20px;
    }

    .h-link {
        font-size: 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h6 {
        font-size: 2rem;
    }
}
