{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

            <!-- Displaying the player profile -->
    <div id="profile">

        <div style="text-align:center;">
            <h1>{{ player.name }}</h1>
        </div>

        <div class="profile">
            <div class="playerinfo">
                <h4 class="info" id="weight">Weight: {{ player.weight }}</h4>
                <h4 class="info" id="height">Height: {{ player.height }}</h4>
                <h4 class="info" id="position">Position: {{ player.position }}</h4>
            </div>

            <div class="playerinfo">
                <h4 class="info" id="age">Age: {{ player.age }}</h4>
                <h4 class="info" id="ethnicity">Ethnicity: {{ player.ethnicity }}</h4>
                <h4 class="info" id="medical">Medical History: {{ player.medical }}</h4>
            </div>
        </div>

        <div style="margin-top:30px; text-align:right; margin-right:40px;" >
            <button onclick="view_edit()" class="btn-primary">Edit Player</button>
        </div>

    </div>
                <!-- Div to edit player proile -->
    <div id="edit_profile">
        <form>
            <div style="text-align:center;">
                <label class="lblpro" for="iptname">Name: </label>
                <input class="iptpro" type="text" autocomplete="off" value="{{ player.name }}" id="iptname" placeholder="Name">
            </div>

            <div class="profile">
                <div class="playerinfo">
                    <div class="info">
                        <label class="lblpro" for="iptweight">Weight: </label>
                        <input class="iptpro" type="text" autocomplete="off" value="{{ player.weight }}" id="iptweight" placeholder="Weight">
                    </div>
                    <div class="info">
                        <label class="lblpro" for="iptheight">Height: </label>
                        <input class="iptpro" type="text" autocomplete="off" value="{{ player.height }}" id="iptheight" placeholder="Height">
                    </div>
                    <div class="info">
                        <label class="lblpro" for="iptpos">Position: </label>
                        <input class="iptpro" type="text" autocomplete="off" value="{{ player.position }}" id="iptpos" placeholder="Postion">
                    </div>
                </div>

                <div class="playerinfo">
                    <div class="info">
                        <label class="lblpro" for="iptage">Age: </label>
                        <input class="iptpro" type="text" autocomplete="off" value="{{ player.age}}" id="iptage" placeholder="Age">
                    </div>

                    <div class="info">
                        <label class="lblpro" for="ipteth">Ethnicity: </label>
                        <input class="iptpro" type="text" autocomplete="off" value="{{ player.ethnicity }}" id="ipteth" placeholder="Ethnicity">
                    </div>

                    <div class="info">
                        <label class="lblpro" for="iptmed">Medical History: </label>
                        <input class="iptpro" type="text" autocomplete="off" value="{{ player.medical }}" id="iptmed" placeholder="Medical History">
                    </div>
                </div>
            </div>
        </form>

                    <!-- Saving changes -->
        <div style="margin-top:30px; text-align:right; margin-right:40px;" >
            <button onclick="save_changes('{{ player.id }}')" class="btn-primary">Save Changes</button>
            <button onclick="view_profile()" class="btn-primary">Back to profile</button>
        </div>

    </div>

{% endblock %}
