{% extends "athlete_journal/layout.html" %}
{% load static %}

{% block title %}
    Log
{% endblock %}

{% block body %}
    <div class="view-log" id="view_log">
        <div class="log" style="margin:10px;">
            <div class="log-info">
                <h6><u>Date:</u></h6>
                <h6>{{ log.date }}</h6>
            </div>

            <div class="log-info">
                <h6><u>Log:</u></h6>
                <h6>{{ log.log }}</h6>
            </div>

            <div class="log-info">
                <h6><u>Training Log:</u></h6>
                <h6>{{ log.train_log }}</h6>
            </div>

            <div class="log-info">
                <h6><u>Amount of sessions:</u></h6>
                <h6>{{ log.train_sess }}</h6>
            </div>

            <div class="log-info">
                <h6><u>Meals:</u></h6>
                <h6>{{ log.meals }}</h6>
            </div>

            <div class="log-info">
                <h6><u>Hours of sleep:</u></h6>
                <h6>{{ log.sleep_hrs }}</h6>
            </div>

            <div class="log-info">
                <h6><u>Body audit:</u></h6>
                <h6>{{ log.feeling_log }}</h6>
            </div>

            <div>
                <button onclick="edit_log('{{ log.id }}')" class="btn btn-primary">Edit Log</button>
            </div>
        </div>
    </div>

    <div id="edit_log">
        <div class="addform">
            <div>
                <div style="text-align:center;" id="heading"></div>
                <div id="ed_log"></div>
                <div id="ed_training"></div>
                <div style="text-align:center;" id="ed_trainSess"></div>
                <div id="ed_meal"></div>
                <div style="text-align:center;" id="ed_sleepHrs"></div>
                <div id="ed_feelingLog"></div>
                <div style="text-align:center;" id="buttons"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'athlete_journal/athlete_journal.js' %}" type="text/javascript"></script>
{% endblock %}
