.header {
    background-color: #D3D3D3;
}

.pad {
    margin-left: 5px;
}

.tlink {
  text-decoration: none;
  color: black
}

.tlink:hover{
    text-decoration: underline;
}

table {
    margin-top: 20px;
}

.addplayer {
    text-align: center;
}

.iptadd {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.addbox {
    margin-bottom: 10px;
    padding: 5px;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
}

.add {
    width: 100px;
    margin-left: 600px;
    margin-top: 20px;
}

.press {
    position: relative;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: pink;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.press:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.playerinfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.info {
    margin-bottom: 30px;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lblpro {
    font-size: 2em;
}

.iptpro {
    height: 40px;
    font-weight: bold;
    margin-left: 5px;
}

.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.iptlog {
    margin-left: 800px;
    margin-right: 800px;
    margin-bottom: 10px;
}

.ipttextlog {
    padding: 5px;
}
